@import "tailwindcss";

@theme {
  --font-display: "Chango", cursive;
  --font-sans: "Outfit", sans-serif;
  --font-mono: "Fira Code", monospace;

  --color-brand-pink: #ff66b2;
  --color-brand-purple: #b266ff;
  --color-brand-deep: #660066;
  --color-brand-light: #ffe6f2;
  --color-brand-silver: #e6e6e6;
}

@layer base {
  body {
    @apply font-sans text-gray-900 bg-brand-light antialiased;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-display;
  }
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  75% { transform: translateX(5px); }
}

.animate-shake {
  animation: shake 0.3s cubic-bezier(.36,.07,.19,.97) both;
}